In [ ]:
#################################################
# Declaración de Variables                      #
#################################################
#                                               #
# Sintaxis: [nombre variable] = [valor inicial] #
#                                               #
# Ejemplos:                                     #
#   numero = 20                                 #
#   saludo = "Hola Mundo !!!"                   #
#                                               #
#################################################


# Declaración de variables
numero = 10
Numero = 20
saludo = "Hola Mundo !!!"

# Mostrar el contenido de las variables
print(numero)
print(Numero)           # diferencia entre MAYÚSCULAS y minúsculas
print(saludo)

print(numero + Numero)
print(numero - 25)
print("Saludo: " + saludo)

print(36)
print("En un lugar de la mancha ...")
print("En un lugar de la mancha\nde cuyo nombre ...")
print("")

# Mostrar el tipo de las variables
print(type(numero))
print(type(saludo))

print(type(3))
print(type(3.1))
print(type("3"))
print(type("tres"))
print(type(3==3))
print(3 == 3)
print(type(3!=3))
print(3 != 3)
print(type(('1', '2', '3')))
print(type(["1", "2", "3"]))
print(type({"1", "2", "3"}))
print(type([1, 2, 3]))

In [ ]:
#################################################
# Asignación Simultanea                         #
#################################################

# Declaración de variables
a = 5
b = 10

# Intercambiar los valores entre a y b. Intento 1.
a = b
b = a

print("Intento 1, incorrecto.")
print(f"Variable a: {a}")
print(f"Variable b: {b}\n")

# Intercambiar los valores entre a y b. Intento 2.
a = 5
b = 10

temp = a
a = b
b = temp

print("Intento 2, correcto con una variable temporal.")
print(f"Variable a: {a}")
print(f"Variable b: {b}\n")

# Intercambiar los valores entre a y b. Intento 3.
a = 5
b = 10

a,b = b,a

print("Intento 3, correcto.")
print(f"Variable a: {a}")
print(f"Variable b: {b}")

In [ ]:
#################################################
# Conversión de Variables                       #
#################################################


# Declaración de variables
a = 5.3
b = "25"
c = "25.7"
d = "a 8.4"

# Conversión de números a texto con STR
print("El valor de a es: " + str(a))
print("El valor de b es: " + b + "\n")

# Conversión de texto a números con INT y FLOAT
print(f"Valor de b: {b}")
print(type(b))
print(f"Valor de b: {int(b)}")
print(type(int(b)))

print(f"Suma: {b + c} <-- El resultado es una concatenación del texto")
print(type(b + c))
print(f"Suma: {int(b) + float(c)}")
print(type(int(b) + float(c)))

print(f"Número: {d} <-- No se puede convertir a Float por contener una a")